aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
Brotli==1.0.9
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.5
discord==1.7.3
discord.py==1.7.3
git+https://github.com/Merubokkusu/Discord-S.C.U.M.git
filetype==1.0.7
idna==3.2
multidict==5.1.0
random-user-agent==1.0.1
requests==2.26.0
requests-toolbelt==0.9.1
typing-extensions==3.10.0.2
ua-parser==0.10.0
urllib3==1.26.6
websocket-client==0.59.0
yarl==1.6.3
tweepy